header {
  background: #E4FDE1;
  padding: 0;
  border-bottom: 2px solid #06402B;
}

a {
  color: #06402B;
}

a:hover {
  background-color: #FFF;
  color: #06402B;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  font-weight: bold;
  padding: 1em;
  white-space: nowrap;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li a {
  padding: 1em;
  display: inline-block;
}

@media (max-width: 480px) {
  a.logo {
    padding: 0.75em;
    font-size: 0.95rem;
  }

  nav ul li a {
    padding: 0.75em;
    font-size: 0.95rem;
  }
}
