<app-not-found [visible]="!food"
notFoundMessage="Product not Found"
resetLinkText="Back to Homepage"
></app-not-found>


<div *ngIf="food" class="container">
     <img [src]="food.imageUrl" [alt]="food.name" class="popup-img"/>

     <div class="details">
        <div class="header">
            <span class="name">{{food.name}}</span>
            <span class="favorite {{ food.favourite ?'' : 'not'}}">❤️</span>
        </div>

        <div class="rating">
            <app-star-rating
            [value]="food.stars"
            total.stars="5"
            checkedcolor="red"
            uncheckedcolor="black"
            size="30px"
            readonly="true"></app-star-rating>
           </div>


            <div class="origins">
              <span *ngFor="let origin of food.origins"> 
                {{origin}}
              </span>
            </div>
    
            
    
               <div class="tags">
                <app-tags [foodPageTags]="food.tags" justifyContent="start"> </app-tags>
              </div>
    
            <div class="cook-time">
                <span>⏰</span>
                <span class="prep-time">Preparation time: <strong> {{food.cookTime}} </strong></span>
              </div>
          
              <div class="price">
                <span>
                  {{food.price| currency:'₦':true}}
                </span>
              </div>
    
              <button (click)= "addToCart()">Add to Cart</button>
            </div>
     </div>

     

        
    

   
      
      

     

